
@{
    ViewBag.Title = "Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class=row>
        <div class="text-center">
            <h2>Usuario</h2>

        </div>
    </div>
</div>

<div style="float:right;">
    <button class="bg-info" onclick="Agregar()">Agregar</button>
    <br />
    <button class="bg-danger" onclick="Limpiar()">Limpiar</button>
</div>
<br />
<body>
    <table id="Table" class="table table-hover table-bordered table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Direccion</th>
                <th>Sexo</th>
                <th>Foto</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</body>

<script type="text/javascript">
    function Agregar() {
        $.ajax({
            url: 'https://randomuser.me/api/',
            method: "GET",
            dataType: 'json',
            success: function (results) {
                var tableString = '<tr>' +
                    '<td>' + results.results[0].name.first + '</td>' +
                    '<td>' + results.results[0].email + '</td>' +
                    '<td>' + results.results[0].location.street.name + '</td>' +
                    '<td>' + results.results[0].gender + '</td>' +
                    '<td>' + '<img src="' + results.results[0].picture.large + '"/>' + '</td>' +
                    '</tr>';

                $('#Table tbody').append(tableString);
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>

<script type="text/javascript">
    function Limpiar() {
        $('#Table tbody').empty();
        }
</script>