
@{
    ViewBag.Title = "Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class=row>
        <div class="text-center">
            <h2>Usuario</h2>

        </div>
    </div>
</div>

<div style="float:right;">
    <button class="bg-info" onclick="Agregar()">Agregar</button>
</div>
<br />
<body>
    <table id="Table" class="table table-hover table-bordered table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Direccion</th>
                <th>Sexo</th>
                <th>Foto</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <script>

    </script>
</body>


    <script type="text/javascript">
        function Agregar() {
            $.ajax({
                    url: 'https://randomuser.me/api/',
                    method: "GET",
                    dataType: 'json',
                    success: function (results) {
                        var tableString = "";
                        $.each(results, function (i, results) {
                           
                            tableString = "<tr><td>" +  results[0].name.title + "</td></tr>";
                        });
                        $('#Table tbody').append(tableString);
                    },
                    error: function (error) {
                        console.log(error);
                    }
            });
        }
    </script>
